.container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 15px;
  border: solid;
}
.productDescription {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
